

table{
    border: 2px solid green;
    width: 800px;
    height: 800px;}
.black{float: left;
    width:100px;
    height: 100px;
    background-color: black;

}
.white {float: left;
    width: 100px;
    height: 100px;
    background-color: white;
}
.chess{float: left}
#chessbox{ border: 2px solid green;
    width: 800px;
    height: 800px;}